<div class="home">
   <div class="home-background">
   </div>

  <div class="container">
    <div class="home-intro">
      <h2>A warm hug in a mug</h2>
      <div class="introduction">
        <div class="row">
          <div class="home-intro-desktop">
            <div class="col-sm-4 col-md-4" ng-repeat="menu in menus">
              <h3>{{ menu.title }}</h3>
              <img class="img-responsive" ng-src="{{ menu.image }}" />
              <p>{{ menu.description_one }} {{ menu.description_two }}</p>
            </div>
          </div>

          <div class="home-intro-responsive">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4" ng-repeat="menu in menus">
              <input type="checkbox" class="read-more-state" id="{{ menu.label }}" />
              <h3>{{ menu.title }}</h3>
              <img class="img-responsive" ng-src="{{ menu.image }}" />
              <p class="read-more-wrap">{{ menu.description_one }} <span class="read-more-target">{{ menu.description_two }}</span> </p>
              <label for="{{ menu.label }}" class="read-more-trigger"></label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-us">
      <h2>Roasting coffee - Brewing harmony</h2>
      <h3>WHO WE ARE</h3>
      <p>
        We are passionate about coffee.
        BeanCorner coffee is a collection of coffee lovers, from all over the world, who infuse our coffee with our own unique blend of cultural insights and tastes.
        We have a deep connection to the coffee, hospitality and cooking industries, as well as the business and sales world.
        We each have years of experience in multiple fields, and build upon our individual expertise to bring you the best possible coffee.
      </p>
    </div>
  </div>

  <div class="gallery">
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <!-- Carousel items -->
      <div class="carousel-inner">

        <!-- Slide 1 : Active -->
        <div class="item active">
          <img src="../images/img_14.jpg" alt="">
          <div class="carousel-caption">
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="item ">
          <img src="../images/img_15.jpg" alt="">
          <div class="carousel-caption">
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="item ">
          <img src="../images/img_13.jpg" alt="">
          <div class="carousel-caption">
          </div>
        </div>

        <!-- Slide 4 -->
        <div class="item ">
          <img src="../images/img_16.jpg" alt="">
          <div class="carousel-caption">
          </div>
        </div>
      </div>

      <!-- Controls -->
      <!-- Add "ng-non-bindable" to tell angularjs ignore the conflict with bootstrap ui-->
      <div class="control-box">
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" ng-non-bindable>
          <span class="control-icon prev fa fa-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" ng-non-bindable>
          <span class="control-icon next fa fa-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div class="myCarousel-responsive"></div>
  </div>

  <div class="container">
      <div class="row">
        <div class="latest-event">
          <div class="col-sm-6 col-md-6">
            <h3>Latest events</h3>
            <div class="row" ng-repeat="latestevent in latestevents">
              <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="date">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>{{ latestevent.date }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ latestevent.month }}</td>
                      </tr>
                  </tbody></table>
                </div>
              </div>
              <div class="col-xs-8 col-sm-8 col-md-8">
                <h4>{{ latestevent.title }}</h4>
                <p>{{ latestevent.description }}</p>
              </div>
            </div>
          </div>
      </div>

      <div class="upcoming-event">
        <div class="col-sm-6 col-md-6">
          <h3>Upcoming events</h3>
          <div class="row" ng-repeat="upcomingevent in upcomingevents">
            <div class="col-xs-4 col-sm-4 col-md-4">
              <div class="date">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>{{ upcomingevent.date }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ upcomingevent.month }}</td>
                    </tr>
                </tbody></table>
              </div>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
              <h4>{{ upcomingevent.title }}</h4>
              <p>{{ upcomingevent.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
